n8n-workflow.json
{
  "name": "JalDrishti Connect - Complaint Automation",
  "nodes": [
    {
      "parameters": {
        "path": "complaint-received",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "9b642e5b-b9d9-48ab-8c9d-d81b47ef1f7e"
    },
    {
      "parameters": {
        "fromEmail": "alerts@jaldrishti.org",
        "toEmail": "kspcb_officials@karnataka.gov.in",
        "subject": "=URGENT: New Pollution Report - {{$json.body.category}}",
        "text": "=A new pollution report has been submitted.\n\nLocation: {{$json.body.location}}\nType: {{$json.body.category}}\nDescription: {{$json.body.description}}\nReporter: {{$json.body.user}}\n\nSystem Log ID: {{$json.body.id}}",
        "options": {}
      },
      "name": "Email to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "notesInFlow": true,
      "notes": "Configure with your SMTP credentials (e.g. Gmail App Password)"
    },
    {
      "parameters": {
        "fromEmail": "alerts@jaldrishti.org",
        "toEmail": "={{$json.body.email}}",
        "subject": "=Complaint Received: {{$json.body.id}}",
        "text": "=Dear {{$json.body.user}},\n\nThank you for taking the time to report water pollution in your area. Your report has been successfully logged on JalDrishti Connect and forwarded to the KSPCB authorities.\n\nComplaint Details:\nLocation: {{$json.body.location}}\nType: {{$json.body.category}}\n\nYou can track the status of your complaint on our website using the ID: {{$json.body.id}}.\n\nThank you for protecting our waters,\nJalDrishti Team",
        "options": {}
      },
      "name": "Email to Reporter",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        600,
        400
      ],
      "notesInFlow": true,
      "notes": "Uses dynamic email from the form! Ensure SMTP is configured."
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Email to Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email to Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
